extends layout.pug

block content
  .parent
    .child
      .home-main Video Eats
  footer#footer
    .footer__section--left
        h6 Welcome to VideoEats
        h6 Copyright &copy; VideoEats 2020
    .footer__right--right
        h6.footer__about About the Developers
        ul.footer__team
            li.footer__team--styles
                div William Shrader
                a(href="https://www.linkedin.com/in/william-schrader-7ba014199/" target="_blank")
                    i.fab.fa-linkedin.footer__social-icon--linkedin
                a(href="https://github.com/wfschrad" target="_blank")
                    i.fab.fa-github-square.footer__social-icon--github
            li.footer__team--styles
                div Alan Li
                a(href="https://www.linkedin.com/in/alan-li-730143133/" target="_blank")
                    i.fab.fa-linkedin.footer__social-icon--linkedin
                a(href="https://github.com/alanli011" target="_blank")
                    i.fab.fa-github-square.footer__social-icon--github
            li.footer__team--styles
                div Drew Bartleman
                a(href="https://www.linkedin.com/in/drew-bartleman/" target="_blank")
                    i.fab.fa-linkedin.footer__social-icon--linkedin
                a(href="https://github.com/DBartleman" target="_blank")
                    i.fab.fa-github-square.footer__social-icon--github
  script(type="module" src="/js/index.js")